#page-loading-cover {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #ffffff;
    z-index: 99999;
}


.section {
    display: flex;
    align-items: center;
    height: 100vh;
    /* border-bottom:  1px inset  red; */
    background-position: center;
    background-size: cover;
}

.section > * {
    padding: 3vh 5vw;
    width: 100%;
    margin: 0;
    opacity: 0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 10px 30px rgba(0,0,0, 0.9);
    backdrop-filter: blur(20px);
    background: rgba(0,0,0, 0.15);
    transform: translateY(150%);
}

.section:nth-child(odd) > * {
    text-align: end;
}

main * {
    transition: all 0.2s ease-out;
}